
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



.noticias{
 margin-top: 20px;
 margin-bottom: 5px;
}

.cardspost{
    height: 50%;
    
}


.formLogin{
    margin-top: 50px;
    font-family: Roboto, 300;
    color: #ffff;
    
}

.logonot{
    width: 30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.intronot{
 text-align: center;
}

.txtarea{
    border-radius: 5px;
    box-shadow: none;
    display: block;
    
}
.columnas{
    border-radius: 3px;
    margin: 15px;
    padding: 10px;
}

.botonenviar{
    padding: 5px;
    background-color:#8f258f;
    color: #ffff;
    border-radius: 8px;
    border: none;
    transition: all .4s ease-in-out;
}
.botonRegistro:hover {
    transform: scale(1.1);
    transition: all .4s ease-in-out;
}
.botonIngreso{
    padding: 5px;
    background-color:#ff8cff;
    color: white;
    border-radius: 8px;
    border: none;
    transition: all .4s ease-in-out;
}
.botonIngreso:hover {
    transform: scale(1.1);
    transition: all .4s ease-in-out;
}

.botonpost{
    padding: 3px;
    background-color:#8f258f;
    color: #ffff;
    border-radius: 5px;
    border: none;
    transition: all .4s ease-in-out;
    margin-top: 1rem;
}

.botonpost:hover {
    transform: scale(1.1);
    transition: all .4s ease-in-out;
}



.botonposth{
    display: block;
    background:#8f258f;
    color:#fff;
    border:none;
    position:relative;
    border-radius: 5px;
    font-size:1.4rem;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-left: auto;
    margin-right: auto;
  }
  .botonposth:hover{
    background:#fff;
    color:#8f258f;
  }
  .botonposth:before,.botonposth:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #8f258f;
    transition:400ms ease all;
  }
  .botonposth:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .botonposth:hover:before,.botonposth:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
  
  